<div id="info" class="jumbotron">

</div>
<div id="check" class="jumbotron">

</div>

<%= javascript_include_tag "TripPlanner" %>

<script>
    $(document).ready(function() {
        $(function() {
            $('#flash').delay(500).fadeIn('normal', function() {
                $(this).delay(2500).fadeOut();
            });
        });

        var apiDate = function(date) {
            var dd = date.getDate();
            if(dd < 10) {
                dd = '0'+dd;
            }

            var mm = date.getMonth() + 1;
            if(mm < 10) {
                mm = '0'+mm;
            }

            var y = date.getFullYear();
            return y + '-' + mm + '-' + dd;
        };


        var addDays = function(date, days) {
            date.setDate(date.getDate() + days);
            return date;
        };

        var cities = JSON.parse(window.localStorage.getItem("cities"));
        cities.startDate = new Date(cities.startDate);

        var path = computeBestRoute(cities);

        var price = 0;
        var html = '';

        for(var i =0; i<path.flights.length; i++) {
            var flight_number = JSON.stringify(path.flights[i][3].itineraries[0].outbound.flights[0].flight_number);
            var operating_airline = JSON.stringify(path.flights[i][3].itineraries[0].outbound.flights[0].operating_airline);
            var arrive = (new Date(path.flights[i][3].itineraries[0].outbound.flights[0].arrives_at));
            html+= '<div style="font-size: 18px; padding: -5px;" class="jumbotron g1'+'">';
            html += "<div>Flight #"+(i+1)+" is from <b>" + path.flights[i][0] + "</b> to <b>" + path.flights[i][1] + "</b>. It arrives " + arrive + " and costs a total of: $" + (path.flights[i][2])+'</div>';
            html += '<b>Flight Number: </b>' + flight_number ;
            html += '<b>Airline: </b>' + operating_airline;
            html+='</div>';
            price += (parseInt(path.flights[i][2]));
        }
        html+= '<div style="font-size: 25px;" class="jumbotron g6'+'">';
        html += 'The total cost of your trip is: <b>$' + price +'</b>';
        html+='</div>'




        $('#info').html('<div>'+html+'</div>');



    });
</script>