<div class="jumbotron">

</div>

<%= javascript_include_tag "TripPlanner" %>

<script>
    $(document).ready(function() {
        console.log(window.localStorage.getItem("cities").start);
//        var bestRoute = computeBestRoute(window.cities);
    });
</script>