<footer class="footer">
  <small>
    <div>Small Rails Sample App - Philip Weiss</div>
    <div>Rails - Michael Hartl</div>
  </small>
  <div>

  </div>
  <nav>
    <ul id="padded">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>